__pycache__/
*.py[cod]

# Output folder from running ansible-test
output/

.terraform/
.terraform.lock.hcl
terraform.tfstate*

demo-ve/
ansible-policy/

.ansible/
.vscode/

# Folders from demo of ARA (2025-03-11-demo-logging-ansible-content)
ara/
ve-ara/
.ara/
logs/
