[defaults]
localhost_warning = false
interpreter_python = auto_silent
callback_result_format = yaml
collections_path = ./collections/ansible_collections

[inventory]
inventory_unparsed_warning = false