[defaults]
deprecation_warnings = false
# group names in NetBox can contain characters that are not valid in Ansible, will be replaced without issueing a warning
force_valid_group_names = ignore
system_warnings = false
interpreter_python = auto_silent
localhost_warning = false
callback_result_format = yaml

[inventory]
inventory_unparsed_warning = false
