[defaults]
# Targeting localhost produces a warning
localhost_warning = false
# Older distros output a warning about python interpreter
interpreter_python = auto_silent
# Newer collections version with older Ansible version produce a warning
collections_on_ansible_version_mismatch = ignore
inventory = inventory.yml
# Track time of tasks and play
callbacks_enabled = ansible.posix.timer, ansible.posix.profile_tasks

fact_caching = ansible.builtin.jsonfile
fact_caching_connection = ./fact-cache-files
fact_caching_timeout = 300
fact_caching_prefix = ansible_facts_

[inventory]
# When no inventory is given, will produce a warning
inventory_unparsed_warning = false