[defaults]
localhost_warning = false
interpreter_python = auto_silent
inventory = inventory.ini
callback_result_format = json
deprecation_warnings = False

[inventory]
inventory_unparsed_warning = false
